@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DMSans-Regular";
    src: url("assets/fonts/DMSans-Regular.ttf");
}

@font-face {
    font-family: "DMSans-Medium";
    src: url("assets/fonts/DMSans-Medium.ttf");
}

@font-face {
    font-family: "DMSans-Bold";
    src: url("assets/fonts/DMSans-Bold.ttf");
}

@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url("assets/fonts/ArchivoBlack-Regular.ttf");
}

* {
    font-family: "DMSans-Medium", serif;
}

.active-button:hover {
    background: #2D2D2D;
    transition: 0.3s;
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center
            justify-center h-12 w-12 mt-2 mb-2 p-1
            mx-auto bg-light text-purple
            hover:bg-purple hover:text-light
            rounded-3xl hover:rounded-xl
            transition-all duration-200 ease-linear
            cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-16
            rounded-md shadow-md
            bg-light text-sm text-purple
            transition-all duration-100 scale-0 origin-left;
    }
}

.mainSection {
    background: url("assets/images/back-2.gif") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
